mixin icon(iconName, iconClass)
    svg(class=`${iconClass}`)
        use(xlink:href=`/images/icons/sprite.svg#${iconName}`)

mixin iconPath(iconPath,iconName, iconClass)
    svg(class=`${iconClass}`)
        use(xlink:href=`${iconPath}/sprite.svg#${iconName}`)

mixin image(imagePath, imageClass, imageAlt)
    if !imageAlt
        - var alt = 'lorem'
    else
        - var alt = imageAlt

    if !imageClass
        - var cls = 'lorem'
    else
        - var cls = imageClass
    img(src=`${imagePath}`, alt=`${alt}`, class=`${cls}`)

mixin banner(props)
    div(class=props.dopCls).banner
        .banner__container
            .banner__img
                picture
                    source(srcset=props.imgPath + 'img375.jpg' media='(max-width: 767.98px)')
                    source(srcset=props.imgPath + 'img768.jpg' media='(max-width: 1279.98px)')
                    source(srcset=props.imgPath + 'img1280.jpg' media='(max-width: 1919.98px)')
                    img(src=props.imgPath + 'img.jpg' alt='')
            .banner__wrap
                .banner__sub!=props.sub
                h2.banner__title!=props.title
                if props.txt
                    .banner__txt!=props.txt
                if props.big
                    .banner__big!=props.big


mixin item(i)
    a(href=i.href).item
        .item__wrap
            span.item__img
                +image(i.img)
            span.title.item__title= i.title
            span.item__price= i.price
            span.item__btn
                span Перейти
                <svg width="26" height="9" viewBox="0 0 26 9" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.271 3.75811L21.683 0.170109C21.5744 0.0615026 21.4271 0.000488279 21.2735 0.000488281C21.1199 0.000488284 20.9726 0.0615026 20.864 0.170109C20.7554 0.278715 20.6944 0.426016 20.6944 0.579609C20.6944 0.733201 20.7554 0.880503 20.864 0.989109L23.464 3.58911H0.579012C0.425319 3.58911 0.277921 3.65016 0.169243 3.75884C0.060566 3.86752 -0.000488281 4.01492 -0.000488281 4.16861C-0.000488281 4.3223 0.060566 4.4697 0.169243 4.57838C0.277921 4.68705 0.425319 4.74811 0.579012 4.74811H23.463L20.863 7.34811C20.7544 7.45671 20.6934 7.60402 20.6934 7.75761C20.6934 7.9112 20.7544 8.0585 20.863 8.16711C20.9716 8.27571 21.1189 8.33673 21.2725 8.33673C21.4261 8.33673 21.5734 8.27571 21.682 8.16711L25.27 4.57911C25.3242 4.52537 25.3672 4.46146 25.3965 4.39105C25.4259 4.32063 25.4411 4.24511 25.4412 4.16882C25.4413 4.09252 25.4263 4.01696 25.3971 3.94648C25.3679 3.876 25.325 3.81198 25.271 3.75811V3.75811Z"/>
                </svg>

mixin filters()
    .filters
        .filters__item
            .filter
                button(type='button').filter__btn
                    span.filter__btn-name Все
                    span.filter__btn-arr
                        <svg width="9" height="26" viewBox="0 0 9 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.13 25.718L8.72101 22.13C8.77478 22.0763 8.81744 22.0124 8.84654 21.9422C8.87565 21.8719 8.89062 21.7966 8.89062 21.7205C8.89062 21.6445 8.87565 21.5692 8.84654 21.4989C8.81744 21.4287 8.77478 21.3648 8.72101 21.311C8.66723 21.2573 8.60339 21.2146 8.53313 21.1855C8.46286 21.1564 8.38756 21.1414 8.31151 21.1414C8.23546 21.1414 8.16015 21.1564 8.08989 21.1855C8.01963 21.2146 7.95578 21.2573 7.90201 21.311L5.30201 23.911L5.30201 1.02603C5.30201 0.87234 5.24096 0.724942 5.13228 0.616264C5.0236 0.507587 4.8762 0.446533 4.72251 0.446533C4.56882 0.446533 4.42141 0.507587 4.31274 0.616264C4.20406 0.724942 4.14301 0.87234 4.14301 1.02603L4.14301 23.91L1.54301 21.31C1.4344 21.2014 1.2871 21.1404 1.13351 21.1404C0.979914 21.1404 0.832613 21.2014 0.724007 21.31C0.615401 21.4186 0.55439 21.5659 0.55439 21.7195C0.55439 21.8731 0.615401 22.0204 0.724007 22.129L4.31201 25.717C4.42043 25.8255 4.56745 25.8865 4.7208 25.8867C4.87416 25.8869 5.02132 25.8262 5.13 25.718V25.718Z" fill="#202020"/>
                        </svg>
            .filter
                button(type='button').filter__btn.filter-btn
                    span.filter-btn__name Цвет
                    span.filter-btn__vals
                        span.filters-btn__colors
                            span.filter-btn
                    span.filter-btn__arr
                        <svg width="9" height="26" viewBox="0 0 9 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.13 25.718L8.72101 22.13C8.77478 22.0763 8.81744 22.0124 8.84654 21.9422C8.87565 21.8719 8.89062 21.7966 8.89062 21.7205C8.89062 21.6445 8.87565 21.5692 8.84654 21.4989C8.81744 21.4287 8.77478 21.3648 8.72101 21.311C8.66723 21.2573 8.60339 21.2146 8.53313 21.1855C8.46286 21.1564 8.38756 21.1414 8.31151 21.1414C8.23546 21.1414 8.16015 21.1564 8.08989 21.1855C8.01963 21.2146 7.95578 21.2573 7.90201 21.311L5.30201 23.911L5.30201 1.02603C5.30201 0.87234 5.24096 0.724942 5.13228 0.616264C5.0236 0.507587 4.8762 0.446533 4.72251 0.446533C4.56882 0.446533 4.42141 0.507587 4.31274 0.616264C4.20406 0.724942 4.14301 0.87234 4.14301 1.02603L4.14301 23.91L1.54301 21.31C1.4344 21.2014 1.2871 21.1404 1.13351 21.1404C0.979914 21.1404 0.832613 21.2014 0.724007 21.31C0.615401 21.4186 0.55439 21.5659 0.55439 21.7195C0.55439 21.8731 0.615401 22.0204 0.724007 22.129L4.31201 25.717C4.42043 25.8255 4.56745 25.8865 4.7208 25.8867C4.87416 25.8869 5.02132 25.8262 5.13 25.718V25.718Z" fill="#202020"/>
                        </svg>


mixin catalog(props)
    div(class=props.cls).catalog
        .container
            if props.title
                .catalog__top
                    h2.title.catalog__title= props.title
                    if props.txt
                        .catalog__txt= props.txt
            if props.filters

            .catalog__list
                each i in props.list
                    .catalog__item
                        +item(i)
            if props.link
                .catalog__bottom
                    a(href=props.link.href).catalog__link.btn.btn--black
                        span= props.link.name
                        <svg xmlns="http://www.w3.org/2000/svg" width="25.441" height="8.335" viewBox="0 0 25.441 8.335">
                        <path id="Контур_154" data-name="Контур 154" d="M25.271,3.758,21.683.17a.579.579,0,0,0-.819.819l2.6,2.6H.579a.579.579,0,0,0,0,1.159H23.463l-2.6,2.6a.579.579,0,1,0,.819.819l3.588-3.588A.579.579,0,0,0,25.271,3.758Z"/>
                        </svg>
            if props.nav
                .catalog__nav
                    .catalog-nav
                        a(href="#").catalog-nav__arr
                            <svg width="147" height="16" viewBox="0 0 147 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.309037 6.84401L6.84404 0.309006C6.94201 0.211039 7.0583 0.133326 7.1863 0.080307C7.3143 0.0272879 7.45149 0 7.59004 0C7.72858 0 7.86578 0.0272879 7.99378 0.080307C8.12177 0.133326 8.23807 0.211039 8.33604 0.309006C8.434 0.406972 8.51172 0.523277 8.56474 0.651276C8.61776 0.779275 8.64504 0.916463 8.64504 1.05501C8.64504 1.19355 8.61776 1.33074 8.56474 1.45874C8.51172 1.58674 8.434 1.70304 8.33604 1.80101L3.60204 6.535H145.28C145.56 6.535 145.828 6.64621 146.026 6.84415C146.224 7.0421 146.336 7.31057 146.336 7.59051C146.336 7.87044 146.224 8.13892 146.026 8.33686C145.828 8.53481 145.56 8.646 145.28 8.646H3.60004L8.33404 13.38C8.43201 13.478 8.50972 13.5943 8.56274 13.7223C8.61576 13.8503 8.64304 13.9875 8.64304 14.126C8.64304 14.2646 8.61576 14.4017 8.56274 14.5297C8.50972 14.6577 8.43201 14.774 8.33404 14.872C8.23617 14.9701 8.11989 15.0479 7.99187 15.1009C7.86385 15.154 7.72661 15.1812 7.58804 15.181C7.44947 15.1812 7.31223 15.154 7.18421 15.1009C7.05619 15.0479 6.93991 14.9701 6.84204 14.872L0.307038 8.33701C0.209053 8.23889 0.131375 8.12242 0.0784388 7.99426C0.0255026 7.8661 -0.00164965 7.72876 -0.0014639 7.5901C-0.00127814 7.45143 0.0262352 7.31416 0.0795145 7.18614C0.132794 7.05812 0.210789 6.94186 0.309037 6.84401V6.84401Z" />
                            </svg>
                        a(href="#").catalog-nav__item.catalog-nav__item--active 1
                        a(href="#").catalog-nav__item 2
                        a(href="#").catalog-nav__item 3
                        a(href="#").catalog-nav__item 4
                        a(href="#").catalog-nav__item 10
                        a(href="#").catalog-nav__arr
                            <svg width="147" height="16" viewBox="0 0 147 16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M146.026 6.84392L139.491 0.308921C139.394 0.206838 139.278 0.125217 139.148 0.0688621C139.019 0.0125071 138.88 -0.017437 138.74 -0.019204C138.599 -0.0209711 138.459 0.00547136 138.329 0.05857C138.198 0.111669 138.08 0.190345 137.98 0.289962C137.88 0.389579 137.802 0.508121 137.749 0.638595C137.696 0.769069 137.67 0.908831 137.671 1.04965C137.673 1.19047 137.703 1.3295 137.76 1.45853C137.816 1.58755 137.898 1.70397 138 1.80093L142.734 6.53492H1.055C0.775197 6.53492 0.506857 6.64607 0.309006 6.84392C0.111155 7.04178 0 7.31012 0 7.58992C0 7.86972 0.111155 8.13807 0.309006 8.33592C0.506857 8.53377 0.775197 8.64492 1.055 8.64492H142.732L138 13.3789C137.902 13.4769 137.824 13.5932 137.771 13.7212C137.718 13.8492 137.691 13.9864 137.691 14.1249C137.691 14.2635 137.718 14.4007 137.771 14.5287C137.824 14.6567 137.902 14.773 138 14.8709C138.098 14.9689 138.214 15.0466 138.342 15.0996C138.47 15.1526 138.607 15.1799 138.746 15.1799C138.885 15.1799 139.022 15.1526 139.15 15.0996C139.278 15.0466 139.394 14.9689 139.492 14.8709L146.027 8.33592C146.125 8.23789 146.203 8.12153 146.255 7.9935C146.308 7.86546 146.336 7.72826 146.336 7.58971C146.335 7.45117 146.308 7.314 146.255 7.18603C146.202 7.05807 146.124 6.94182 146.026 6.84392Z"/>
                            </svg>



mixin list(props)
    .list
        each i in props.list
            .list__item
                .list__img
                    +image(i.img)
                span.list__link= i.link.name
                .list__txt!=i.txt

mixin fitting(props)
    .fitting
        .fitting__left
            .fitting__list
                each i in props.list
                    a(href=i.href).fitting__item
                        span.fitting__img
                            +image(i.img)
                        span.fitting__desc
                            span.fitting__title.title= i.title
                            span.fitting__txt= i.txt
                            span.fitting__btn.btn
                                span Перейти
                                <svg xmlns="http://www.w3.org/2000/svg" width="25.441" height="8.335" viewBox="0 0 25.441 8.335">
                                <path id="Контур_154"d="M25.271,3.758,21.683.17a.579.579,0,0,0-.819.819l2.6,2.6H.579a.579.579,0,0,0,0,1.159H23.463l-2.6,2.6a.579.579,0,1,0,.819.819l3.588-3.588A.579.579,0,0,0,25.271,3.758Z" />
                                </svg>
        .fitting__right
            .fitting__content.bordered
                form.fitting__form.fitting-form
                    .fitting-form__title.title
                        | записаться
                        br
                        | в бутик на примерку
                    .fitting-form__txt
                        | На ней мы узнаем о ваших предпочтениях
                        | и пожеланиях, снимем мерки
                        | и после этого приступим к исполнению.
                    .fitting-form__fields
                        .fitting-form__field
                            input(type="text" name="name" placeholder="Имя" required).input
                        .fitting-form__field
                            input(type="tel" name="tel" placeholder="Телефон" required).input
                        .fitting-form__field
                            textarea(name="message" placeholder="Напишите удобный день и время").input.input--area
                    button(type='submit').fitting-form__submit.btn2.btn2--black
                        span Отправить заявку
                        <svg width="56" height="9" viewBox="0 0 56 9" xmlns="http://www.w3.org/2000/svg">
                        <path d="M55.271 3.75811L51.683 0.170109C51.5744 0.0615026 51.4271 0.000488277 51.2735 0.000488281C51.1199 0.000488286 50.9726 0.0615026 50.864 0.170109C50.7554 0.278715 50.6944 0.426016 50.6944 0.579609C50.6944 0.733201 50.7554 0.880503 50.864 0.989109L53.464 3.58911H0.579012C0.425319 3.58911 0.277921 3.65016 0.169243 3.75884C0.060566 3.86752 -0.000488281 4.01492 -0.000488281 4.16861C-0.000488281 4.3223 0.060566 4.4697 0.169243 4.57838C0.277921 4.68705 0.425319 4.74811 0.579012 4.74811H53.463L50.863 7.34811C50.7544 7.45671 50.6934 7.60402 50.6934 7.75761C50.6934 7.9112 50.7544 8.0585 50.863 8.16711C50.9716 8.27571 51.1189 8.33673 51.2725 8.33673C51.4261 8.33673 51.5734 8.27571 51.682 8.16711L55.27 4.57911C55.3242 4.52537 55.3672 4.46146 55.3965 4.39105C55.4259 4.32063 55.4411 4.24511 55.4412 4.16882C55.4413 4.09252 55.4263 4.01696 55.3971 3.94648C55.3679 3.876 55.325 3.81198 55.271 3.75811V3.75811Z"/>
                        </svg>

