.product-revs
    .product-revs__left
        h2.product-revs.title
            | Отзывы
            br
            | клиентов
        .product-revs__txt
            | Каждый клиент ценит
            br
            | качествосшитых костюмов
            br
            | и мастерство портных.
    .product-revs__right
        .product-revs__wrap
            .product-revs__list
                -
                    var list = [
                        {
                            name: "Ирина",
                            date: "19.04.2021",
                            txt: "Отличный костюм,хорошо сшит,цвет как на картинке,лёгкий и удобный. ",
                            imgs: [
                                "/images/content/women/collections/product/thumb1.jpg",
                                "/images/content/women/collections/product/thumb1.jpg",
                                "/images/content/women/collections/product/thumb1.jpg",
                            ]
                        },
                        {
                            photo: "/images/content/women/collections/product/face.jpg",
                            name: "Анна",
                            date: "19.04.2021",
                            txt: "Костюм очень красивый!Сел как влитой!Только брюки подшили!",
                        },
                        {
                            name: "Ирина",
                            date: "19.04.2021",
                            txt: "Отличный костюм,хорошо сшит,цвет как на картинке,лёгкий и удобный. ",
                            imgs: [
                                "/images/content/women/collections/product/thumb1.jpg",
                                "/images/content/women/collections/product/thumb1.jpg",
                                "/images/content/women/collections/product/thumb1.jpg",
                            ]
                        },
                        {
                            photo: "/images/content/women/collections/product/face.jpg",
                            name: "Анна",
                            date: "19.04.2021",
                            txt: "Костюм очень красивый!Сел как влитой!Только брюки подшили!",
                        },
                        {
                            name: "Ирина",
                            date: "19.04.2021",
                            txt: "Отличный костюм,хорошо сшит,цвет как на картинке,лёгкий и удобный. ",
                            imgs: [
                                "/images/content/women/collections/product/thumb1.jpg",
                                "/images/content/women/collections/product/thumb1.jpg",
                                "/images/content/women/collections/product/thumb1.jpg",
                            ]
                        },
                        {
                            photo: "/images/content/women/collections/product/face.jpg",
                            name: "Анна",
                            date: "19.04.2021",
                            txt: "Костюм очень красивый!Сел как влитой!Только брюки подшили!",
                        },
                    ];
                each i,x in list
                    .product-revs__item
                        .product-rev
                            .product-rev__top
                                .product-rev__left
                                    .product-rev__photo
                                        if i.photo
                                            img(src=i.photo alt="lorem")
                                    .product-rev__desc
                                        .product-rev__name= i.name
                                        .product-rev__date= i.date
                                .product-rev__left
                                    .product-rev__text= i.txt
                            if i.imgs
                                .product-rev__bottom
                                    .product-rev__imgs
                                        each j in i.imgs
                                            a(href=j data-fancybox="rev"+x).product-rev__img
                                                img(src=j alt="lorem")

            button(type='button').product-revs__more
                span Все отзывы
                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 32C12.8345 32.0026 9.7395 31.0658 7.10678 29.3083C4.47405 27.5508 2.42204 25.0516 1.21058 22.1271C-0.000877976 19.2026 -0.317304 15.9845 0.301371 12.8801C0.920045 9.77564 2.44599 6.92463 4.686 4.688C6.92352 2.45036 9.77432 0.926457 12.8779 0.308982C15.9815 -0.308494 19.1985 0.00819194 22.1221 1.21899C25.0457 2.4298 27.5446 4.48034 29.3029 7.11132C31.0611 9.74231 31.9997 12.8356 32 16C32.0016 18.1016 31.5888 20.1829 30.7853 22.1248C29.9818 24.0667 28.8033 25.8312 27.3172 27.3172C25.8312 28.8033 24.0667 29.9818 22.1248 30.7853C20.1829 31.5888 18.1016 32.0016 16 32V32ZM15 17V24H17V17H24V15H17V8H15V15H8V17H15Z" />
                </svg>
        a(href="#").product-revs__link.btn.btn--black
            span Оставить отзыв
            <svg width="26" height="9" viewBox="0 0 26 9" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.271 3.758L21.683 0.169998C21.5744 0.0613919 21.4271 0.000377652 21.2735 0.000377655C21.1199 0.000377658 20.9726 0.061392 20.864 0.169998C20.7554 0.278604 20.6944 0.425906 20.6944 0.579498C20.6944 0.73309 20.7554 0.880392 20.864 0.988998L23.464 3.589H0.579C0.425307 3.589 0.277909 3.65005 0.169232 3.75873C0.0605546 3.86741 -0.000499725 4.01481 -0.000499725 4.1685C-0.000499725 4.32219 0.0605546 4.46959 0.169232 4.57827C0.277909 4.68694 0.425307 4.748 0.579 4.748H23.463L20.863 7.348C20.7544 7.4566 20.6934 7.60391 20.6934 7.7575C20.6934 7.91109 20.7544 8.05839 20.863 8.167C20.9716 8.2756 21.1189 8.33662 21.2725 8.33662C21.4261 8.33662 21.5734 8.2756 21.682 8.167L25.27 4.579C25.3242 4.52526 25.3672 4.46135 25.3965 4.39094C25.4259 4.32052 25.4411 4.245 25.4412 4.16871C25.4413 4.09241 25.4263 4.01685 25.3971 3.94637C25.3679 3.87589 25.325 3.81187 25.271 3.758V3.758Z"/>
            </svg>



