- var fashions = drop.cols.right.fashions;
.nav-fashions
    .nav-fashions__top
        .nav-fashions__sws
            each sw in fashions
                a(href="#" class=sw.cls).nav-fashions__sw= sw.name
        a(href="#").nav-fashions__section
            span Перейти в раздел
            <svg width="25" height="8" viewBox="0 0 25 8" xmlns="http://www.w3.org/2000/svg">
            <path d="M24.833 3.607L21.307 0.162999C21.199 0.0585835 21.0547 0.000213623 20.9045 0.000213623C20.7543 0.000213623 20.61 0.0585835 20.502 0.162999C20.4493 0.214 20.4074 0.275073 20.3788 0.342586C20.3502 0.410099 20.3355 0.482675 20.3355 0.555999C20.3355 0.629323 20.3502 0.701898 20.3788 0.769412C20.4074 0.836925 20.4493 0.897997 20.502 0.948999L23.056 3.444H0.569C0.42154 3.444 0.280119 3.50258 0.175849 3.60685C0.0715789 3.71112 0.0130005 3.85254 0.0130005 4C0.0130005 4.14746 0.0715789 4.28888 0.175849 4.39315C0.280119 4.49742 0.42154 4.556 0.569 4.556H23.056L20.5 7.051C20.4473 7.102 20.4054 7.16307 20.3768 7.23059C20.3482 7.2981 20.3335 7.37067 20.3335 7.444C20.3335 7.51732 20.3482 7.5899 20.3768 7.65741C20.4054 7.72493 20.4473 7.786 20.5 7.837C20.608 7.94141 20.7523 7.99978 20.9025 7.99978C21.0527 7.99978 21.197 7.94141 21.305 7.837L24.831 4.393C24.8838 4.34213 24.9259 4.28117 24.9546 4.21373C24.9834 4.14629 24.9983 4.07375 24.9985 4.00042C24.9987 3.9271 24.9842 3.85449 24.9557 3.7869C24.9273 3.71931 24.8856 3.65813 24.833 3.607V3.607Z"/>
            </svg>

    .nav-fashions__bottom
        .nav-fashions__tabs
            each tab in fashions
                div(class=tab.cls).nav-fashions__tab
                    .nav-fashions__list
                        each item in tab.list
                            .nav-fashions__item
                                a(href=item.href).nav-fashion
                                    span.nav-fashion__img
                                        img(src=item.img alt="lorem")
                                    span.nav-fashion__txt= item.txt
                                    span.nav-fashion__name= item.name